<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/services">Our Services</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>
  <h1>Welcome to the Home Page</h1>
  <p>This is the Home page content. You can customize it as needed.</p>
</body>
</html>
