<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="../public/stylesheets/style.css">

</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/services">Our Services</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>
  <h1>Explore Our Services</h1>
  <p>Here you can describe your services and what you offer to your clients.</p>
</body>
</html>
